<nav class="navbar navbar-expand-lg navbar-light bg-secondary shadow-sm px-4 py-2">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="template-form"><strong>TemplateForm</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="reactive-form"><strong>ReactiveForm</strong></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>